<template>
  <q-page padding>
    <q-form v-on:keyup.enter="logar()" :model="formularioLogin" ref="formularioLogin" class="q-gutter-md">
      <q-input filled lazy-rules type="email" v-model="formularioLogin.email" label="Email"
               :rules="[ val => val && val.length > 0 || 'Insira o email']">
      </q-input>
      <q-input filled lazy-rules type="password" v-model="formularioLogin.senha" label="Senha"
               :rules="[ val => val && val.length > 0 || 'Insira a senha']">
      </q-input>
      <div class="row justify-center content-center">
        <q-btn label="Logar" @click="logar()" color="primary">
          <q-tooltip transition-show="rotate" transition-hide="rotate">Logar!</q-tooltip>
        </q-btn>
        <q-btn label="Limpar" @click="limpar()" color="primary" flat class="q-ml-sm">
          <q-tooltip transition-show="rotate" transition-hide="rotate">Limpar formulario!</q-tooltip>
        </q-btn>
      </div>
      <div class="form-group">
        <div class="col-sm-12 text-center">
          <p class="p2">Não tem uma conta?
            <a href="#" class="text-primary">
              <b>
                <router-link to="/registrar" class="b2">Registrar</router-link>
              </b>
            </a>
          </p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12 text-center">
          <p class="p2">Esqueceu a Senha?
            <a href="#" class="text-primary">
              <b>
                <router-link to="/recuperar-senha" class="b2">Recuperar</router-link>
              </b>
            </a>
          </p>
        </div>
      </div>
    </q-form>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      formularioLogin: {}
    }
  },
  methods: {
    async logar () {
      try {
        const resposta = await this.$firebase
          .auth()
          .signInWithEmailAndPassword(
            this.formularioLogin.email,
            this.formularioLogin.senha
          )
        window.uid = resposta.user.uid
        console.log('Deu certo')
        this.$router.push({ name: '/pagina_para_onde_quer_ir' })
      } catch (erro) {
        console.log('Dados com o erro', erro)
      }
    },
    limpar () {
      this.formularioLogin = {}
    }
  },
  create () {
    console.log('Assim que a tela for inicia essa mensagem irá aparecer')
  }
}
</script>

<style scoped>

</style>
